/* Login and register page styling */

.authContainer, .loginForm, .registerForm {
  align-items: center;
  justify-content: left;
  display: flex;
  flex-direction: column;
  align-items: left;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.authContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
  
.authBorder {
  margin-top: 5rem;
  padding: 10rem;
  border: 2px solid white;
  border-radius: 10px;
}
  
label {
  align-items: left;
  padding: 0.25rem 0.25rem;
  font-size: 18px;
  color: white;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
}
  
input {
  padding: 0.5rem 0.25rem;
  margin: 5px;
  border-radius: 5px;
  border: none;
}
  
.authTitle {
  font-size: 30px;
  text-align: center;
  font-style: bold;
  font-family: sans-serif;
  padding-bottom: 2rem;
}
  
.siteTitle {
  font-family: sans-serif;
  font-size: 40px;
  margin-bottom: 25px;
}
  
.authButton {
  border: none;
  background-color: rgb(95, 95, 211);
  color: black;
  margin: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.authButton:hover {
  background-color: rgb(85, 85, 189);
}
  
.linkButton {
  border: none;
  background: none;
  color: rgb(156, 156, 248);
  text-decoration: underline;
  cursor: pointer;
}

.linkButton:hover {
  color: rgb(85, 85, 189);
}